<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Dream a Little Dream</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>

<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div class="container">
        <div class="row">
            <div class="col-lg-2" id="sidebar" ng-Controller="DreamsCtrl">
                <section ng-repeat="cat in categories">
                    <a ui-sref="Cat({category: cat})">{{cat | uppercase}}</a>
                    <!-- on click of the category, go to category page containing all the dreams -->
                </section>
            </div>
            <div id="storeName">
                <h3><em>A Dream is a Wish Your Heart Makes...</em></h3>
            </div>
            <div id="main" ui-view></div>
        </div>
    </div>
</body>

</html>