<nav class="navbar navbar-static-top">
    <div class="navbar-container container">
        <div id="site-nav-bbam" class="row">
            <div class="col-lg-3">
                <ul class="nav navbar-nav">
                    <fullstack-logo></fullstack-logo>
                    <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h1><a ui-sref="home">Dream a Little Dream</a></h1>
            </div>
            <div class="col-lg-3">
                <button ng-show="!user" ui-sref="login" class="btn login-button">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </button>
                <button class="btn shopping-cart-button" ui-sref="cart({id: user.id})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
                <div ng-show="user" class="welcome">
                    <div>
                        <span>Welcome, {{ user.name }}!</span>
                        <img ng-src="{{user.photo}}" ng-show="user">
                        <button class="btn login-button">
                            <span class="glyphicon glyphicon-log-in" ng-click="logout()"> Logout</span>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <button ng-show="user" class="btn login-button"
            ui-sref="Orders({id: user.id})"> Order History  
        </button>
    </div>
</nav>
