#home {
    position: relative;
    fullstack-logo {
        padding-top: 30px;
        width: 150px;
        margin: 0 auto;
    }
    h1 {
        margin-top: 40px;
        text-align: center;
    }
    .mainImages {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        .left-image {
            width: 25%;
            margin-right: 1%;
            margin-bottom: 1%;
        }
        .center-image {
            width: 48%;
            margin-bottom: 1%;
        }
        .right-image {
            width: 25%;
            margin-left: 1%;
            margin-bottom: 1%;
        }
        .eye {
            width: 65%;
            margin-right: .80%;
        }
        .rainbow {
            width: 34.2%;
        }
    }
}
