<div class="order-list" *ngFor="let order of orders">
    <h3>List of Items in Order</h3>
    <table class="table" id="order-table">
        <thead>
            <tr>
                <th width="10%"></th>
                <th>Title</th>
                <th>Price at Purchase</th>
                <th>Quantity Purchased</th>
                <th>Time of Purchase</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dream of order.dreams">
                <td><img [src]="dream.photo" width="35%"></td>
                <td>{{ dream.title }}</td>
                <td>${{ dream.orderItems.priceAtPurchase }}</td>
                <td>{{ dream.orderItems.amount }}</td>
                <td>{{ dream.orderItems.updatedAt }}</td>
                <td>{{ order.status }}</td>
            </tr>
        </tbody>
    </table>
</div>