<section id="reviews">
    <div class="reviewListing">
        <h3 ng-show="theReviews.length">Reviews of '{{theReviews[0].dream.title}}'</h3>
        <div id="review-response">
            <h4 ng-hide="theReviews.length"> We have no reviews for this dream yet. Be the first! </h4>
        </div>
        <div ng-repeat="review in theReviews" class="each-review">
            <p class="dream-title">{{review.title}}</p> by
            <p>{{review.user.name}}</p>
            <img ng-src="{{review.user.photo}}">
            <h5 class="review-text">{{review.text}}</h5>
            <!-- Ends column -->
        </div>
        <!-- Ends dream class -->
    </div>
</section>
