<section id="reviews">
    <div class="reviewListing">
        <div class="row">
            <div class="col-lg-12">
                <h3 ng-show="theReviews.length">Reviews of {{theReviews[0].dream.title}}</h3>
                <h4 ng-hide="theReviews.length"> There are no reviews for this dream yet. </h4>
                <div ng-repeat="review in theReviews" class="each-review">
                    <p class="dream-title">{{review.title}}</p> by
                    <p>{{review.user.name}}</p>
                    <img ng-src="{{review.dream.photo}}">
                    <p class="review-text">{{review.text}}</p>
                    <!-- Ends column -->
                </div>
                <!-- Ends dream class -->
            </div>
        </div>
    </div>
</section>
