.dreamListing {
    /* margin: 0 auto 0 10%;*/
}

.dream {
    border: 2px solid black;
    display: inline-block;
    margin-right: 2%;
    margin-top: 2%;
    width: 30%;
    padding: 15px;
    text-align: center;
    img {
        padding-bottom: 2%;
    }
}

button {
    margin-top: 10%;
    margin-bottom: 5%;
}
