#stackstore-footer {
  text-align: center;
  height: 8%;
  padding-bottom: 1%;
  padding-top: 2%;
  background: #EDEDE4;
  border-top: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  width: 100%;
}