#stackstore-footer {
  text-align: center;
  height: 150px;
  margin-top: 5%;
  padding-top: 50px;
  background: #EDEDE4;
  border-top: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  width: 100%;
}