<div class="container">
    <div class="row">
        <div class="col-md-6" id="login-col">
            <h3>Login</h3>
            <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
                <social-button class="btn btn-block btn-social btn-lg btn-google" provider-name="Google"></social-button>
                <alert type="danger" ng-show="errorLogin">
                    {{ errorLogin }}
                </alert>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>

        </div>
        <div class="col-md-6">
            <h3>Sign-Up</h3>
            <form id="signupForm" name="signupForm"  ng-submit="signupForm.$valid && sendSignup(signup)">
                <alert type="danger" ng-show="errorSignup">
                    {{ errorSignup }}
                </alert>
                <div class="form-group">
                    <label for="signup-name">Name</label>
                    <input type="text" ng-model="signup.name" class="form-control" id="signup-name" placeholder="Enter name"> 
                </div>
                <div class="form-group">
                    <label for="signup-email">Email address</label>
                    <input type="text" ng-model="signup.email" class="form-control" id="signup-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="signup-password">Password</label>
                    <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Sign Up</button>

            </form>

        </div>
    </div>
</div>
