<section id="product">
    <div class="product-listing">
        <!-- Equivalent of container -->
        <div class="row">
            <div class="col-lg-8">
                <p class="product-title">{{product.title}}</p>
                <img ng-src="{{product.photo}}">
            </div>
            <div class="col-lg-4" ng-hide="product.quantity === 0">
                <p class="product-description">{{product.description}}</p>
                <p class="product-price">{{product.price}}</p>
                <p>{{product.quantity}}</p>
                <button ng-click="addDreamToCart(user.id, product)">Add to Cart</button>
            </div>
            <div class="alert" ng-show="product.quantity === 0"> Out of Stock</div>
            <div class="col-lg-4" id="submitReviewForm">
                <!-- <button ng-click="toggle()">Review this Dream</button> -->
                <form id="review-form" name="reviewForm" ng-submit="reviewForm.$valid && sendReview(review)">
                    <!-- <alert type="danger" ng-show="errorReview">
                        {{ errorReview }}
                    </alert> -->
                    <div class="form-group">
                        <label for="review-title">Title</label>
                        <input type="text" ng-model="review.title" class="form-control" id="review-title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="review-text">Review</label>
                        <input type="text" ng-model="review.text" class="form-control" id="review-text" placeholder="Please enter your review">
                    </div>
                    <button type="submit" class="btn btn-default">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <review-list the-reviews="reviews">
        <h1>Reviews here</h1></review-list>
    </div>
</section>
