<div>
    <p>List of Items in Cart</p>
    <div ng-repeat="item in cart">
        <img ng-src="{{item.dream.photo}}">
        <div>
            <span>Title: {{item.dream.title}}</span>
            <span>Price: {{item.dream.price}}</span>
            <span>Amount: {{item.amountPurchased}}</span>
        </div>
        <button class="remove" ng-click="removeItem(user.id, item)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div>Total: {{total}}</div>
</div>
<div>
    <button ui-sref="checkout({id: user.id})">Proceed to Checkout</button>
</div>
