<div class="well">
    <div ng-show="order">
        <p>Your order has been processed!</p>
    </div>
    <form ng-hide="order" ng-submit="submitOrder()" class="form-horizontal" id="checkout-form">
        <fieldset>
            <legend>Place Your Order</legend>
            <div class="checkout-info">
                <div class="shipping-address">
                    <h4>Enter Shipping Information</h4>
                    <label for="name-info">Ship To</label>
                    <input type="text" class="form control" placeholder="Jane Smith">
                    <label for="shipping-street-info">Street Address</label>
                    <input ng-model="shipping.address" type="text" class="form control" placeholder="1600 Pennsylvania Avenue">
                    <label for="shipping-city-info">City</label>
                    <input ng-model="shipping.city" type="text" class="form control" placeholder="New York City">
                    <div class="state-abbrev">
                        <label class="ship-state" for="shipping-state-info">State</label>
                        <input ng-model="shipping.state" class="ship-state" type="text" class="form-control" placeholder="NY">
                    </div>
                    <div class="zip-code">
                        <label class="ship-zip" for="shiping-zip-info">Zip Code</label>
                        <input ng-model="shipping.zip" class="ship-zip" type="text" class="form-control" placeholder="10001">
                    </div>
                </div>
                <br>
                <div class="credit-card-info">
                    <h4>Enter Credit Card Information</h4>
                    <label for="credit-card-type">Credit Card Type</label>
                    <select>
                        <option value="visa">Visa</option>
                        <option value="mastercard">Mastercard</option>
                        <option value="discover">Discover</option>
                        <option value="american-express">American Express</option>
                    </select>
                    <label for="card-info">Credit Card Number</label>
                    <input id="card-number" type="text" class="form control" placeholder="0123456789012345">
                    <label for="security-code">Security Code</label>
                    <input id="card-security" type="text" class="form control" placeholder="0124">
                    <label for="expiration-month">Expiration Month</label>
                    <input id="expiration-date" type="text" class="form control" placeholder="01">
                    <label for="expiration-year">Expiration Year</label>
                    <input id="expiration-date" type="text" class="form control" placeholder="16">
                </div>
            </div>
            <br>
            <div class="billing-address">
                <h4>Enter Billing Information</h4>
                <label for="name-info">Name On Credit Card</label>
                <input type="text" class="form control" placeholder="Jane Smith">
                <label for="billing-street-info">Street Address</label>
                <input ng-model="billing.address" type="text" class="form control" placeholder="1600 Pennsylvania Avenue">
                <label for="billing-city-info">City</label>
                <input ng-model="billing.city" type="text" class="form control" placeholder="New York City">
                <div class="state-abbrev">
                    <label class="bill-state" for="billing-state-info">State</label>
                    <input ng-model="billing.state" class="bill-state" type="text" class="form-control" placeholder="NY">
                </div>
                <div class="zip-code">
                    <label class="bill-zip" for="billing-zip-info">Zip Code</label>
                    <input ng-model="billing.zip" class="bill-zip" type="text" class="form-control" placeholder="10001">
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Submit Order">
    </form>
</div>
