#product #reviews{
	//float: left;
	background-color: white;
	margin-left: 135px;
	margin-top: 15px;
	border: 1px solid black;
	text-align: left;

}

#reviews img{
    
        width: 50px;
        height: auto; 
}

#reviews h3{
	margin-top: 5px;
	text-align: left;
}

#reviews .dream-title{
	font-weight: bold;
	display: inline;
}

#rewiews .row{
	width: 750px;
}

#reviews .each-review{
	border: 1px solid black;
}