#reviews {
    position: relative;
    background-color: white;
    margin-left: 10%;
    margin-top: 3%;
    border: 1px solid black;
    text-align: left;
    img {
        width: 5%;
        height: auto;
    }
    h3 {
        margin-top: 5px;
        text-align: center;
    }
    #review-response {
        width: 100%;
    }
    h4 {
        margin: 0 auto;
        text-align: center;
    }
    .each-review {
        border: 1px solid black;
        .dream-title {
            font-weight: bold;
            display: inline;
            margin-left: 2%;
        }
        p {
            display: inline;
        }
        h5 {
            display: block;
            margin-left: 2%;
        }
    }
}
