* {
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    font-family: 'Helvetica', sans-serif;
    background: #EDEDE4;
}

#storeName {
    margin-top: 5%;
    margin-bottom: 0;
   text-align: center;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 2%;
    margin: 0 auto;
}

#product {
    text-align: center;
    img {
        width: 65%;
        border: 2px solid black;
    }
}

.clickable {
    cursor: pointer;
}

.product-title {
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
}

.product-description {
    margin-top: 15%;
    font-size: 1.2em;
    font-weight: normal;
    color: black;
}

.product-price::before {
    content: "$"
}

#sidebar {
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    display: flex;
    a {
        color: black;
        padding: 0 10%;
    }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'dreams/main';
@import 'tutorial/main';
@import 'login/main';



