* {
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    font-family: 'Helvetica', sans-serif;
    background: #EDEDE4;
}

#storeName {
    margin-top: 5%;
    margin-bottom: 0;
   text-align: center;
   h5 {
    margin-left: 15%;
   }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 2%;
    margin: 0 auto;
}

#product {
    text-align: center;
    img {
        width: 65%;
        border: 2px solid black;
    }
}

.clickable {
    cursor: pointer;
}

.product-title {
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
}

.product-description {
    margin-top: 15%;
    font-size: 1.2em;
    font-weight: normal;
    color: black;
}

.product-price::before {
    content: "$"
}

#sidebar {
    border-right: 1px ridge #333333;
    position: absolute;
    margin-top: 2%;
    left: 0;
    width: 10%;
    float: left;
    text-align: center;
    line-height: 200%;
    a {
        color: black;
    }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';




