* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    background: #fdfdfd;
    font-family: 'Helvetica', sans-serif;
    background: #EDEDE4;
}

#stackstore-bbam-main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
}

.push {
    height: 4em;
}

.pad-div {
    margin-top: 15px;
}

#storeName {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
}

#rainbow {
    margin-left: 5px;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 2%;
    margin: 0 auto;
}

#product {
    text-align: center;
    img {
        width: 65%;
        border: 2px solid black;
    }
}

.clickable {
    cursor: pointer;
}

.product-title {
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
}

.product-description {
    margin-top: 15%;
    font-size: 1.2em;
    font-weight: normal;
    color: black;
}

.product-price::before {
    content: "$"
}

.cart-list {
    h3 {
        margin-bottom: 2%;
    }
    h4 {
        text-align: right;
    }
    .checkout-button {
        float: right;
    }
}

#cart-table {
    background-color: white;
    border: 2px solid black;
    th {
        border: 1px solid black;
        text-align: center;
    }
    td {
        border: 1px solid black;
        text-align: center;
    }
}

#checkout-form {
    max-width: 80%;
    margin: 0 auto;
    label {
        display: block;
    }
    input {
        display: block;
        width: 100%;
        margin-bottom: 1%;
    }
    .ship-state,
    .bill-state {
        width: 5%;
    }
    .ship-zip,
    .bill-zip {
        width: 7%;
    }
    #card-number {
        width: 18%;
    }
    #card-security {
        width: 6%;
    }
    #expiration-date {
        width: 5%;
    }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'dreams/main';
@import 'tutorial/main';
@import 'login/main';
@import 'admin/main';
@import 'reviews/main';